<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--(1)出力先(ターゲット)の設定-->
	<targets>
		<!--ファイル(4MB毎ローテーション)--> <!-- ${basedir}/App_Data/log.txt -->
		<target name="file" xsi:type="File" fileName="./logs/logFile.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="./logs/log${date:format=yyyyMMdd}.{###}.txt"
            archiveAboveSize="2048000"
            archiveNumbering="Sequence"
            maxArchiveFiles="40"  encoding="UTF-8"/>
	</targets>

	<!--(2)出力ルールの設定-->
	<rules>
		<!-- デバッグレベル以上のログをfileターゲットに出力-->
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>

</nlog>